.rightSection {
  height: 80rem;
  width: 40rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 3rem;
}
.upperSection {
  width: 100%;
  height: 40%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.expenseNav {
  /* border: 2px solid white; */
  height: 20%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.expenseImg {
  /* border: 2px solid red; */
  height: 80%;
  display: flex;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.724);
  border-radius: 1rem;
  /* gap: 0.5rem; */
}

.expense1 {
  /* border: 1px solid yellow; */
  width: 60%;
  display: flex;
  justify-content: center;
}
.expense2 {
  /* border: 1px solid yellowgreen; */
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expense2Upper {
  /* border: 1px solid white; */
  margin-top: 0.5rem;
  height: 42%;
  display: flex;
}
.expense2Lower {
  /* border: 1px solid white; */
  height: 45%;
  display: flex;
}
.expense2Lower > img {
  width: 12.7rem;
}
.lowerSection {
  width: 80%;
  height: 60%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cardsNav {
  /* border: 2px solid white; */
  width: 88%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
.cardsNav > div {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  font-size: large;
}

.expenseNav > div {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  font-size: large;
}

.expenseNav > select {
  color: #fff;
  background-color: grey;
  border-radius: 0.2rem;
  width: 7rem;
  height: 3rem;
  /* border: 1px solid white; */
}
.cardsImg {
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
}
.creditCard {
  width: 22rem;
}
.leftIcon {
  position: relative;
  right: 2rem;
  top: 1rem;
}

.rightIcon {
  position: relative;
  left: 2rem;
  top: 1rem;
}

.graphSection {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 12rem;
  gap: 0.2rem;
  align-items: center;
}
.graphTabs {
  width: 100%;
  /* border: 1px solid red; */
  height: 3.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.graphDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.3rem;
  /* justify-content: space-evenly; */

  /* border: 1px solid green; */
}
.company {
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  color: #fff;
  margin-top: 0.3rem;
  /* border: 1px solid red; */

  font-weight: 600;
}
.time {
  font-size: 1rem;
  height: fit-content;
  color: rgb(150, 147, 147);

  width: fit-content;
  /* border: 1px solid yellow; */
  margin-top: -0.3rem;
}
.price {
  color: #fff;
}
.graph {
  /* border: 1px solid yellow; */
  width: 5.3rem;
}
